# NB that each directory has its own .gitignore, so this file only covers the top directory.
# backup files from common editors
*~
.*.swp


ChangeLog
Makefile
Makefile.in

aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
stamp-h1
